{% extends 'base.html' %}

{% block style %}
{% load static %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">

        <form class="form-signin" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="id_user_name" class="sr-only">Email address</label>
        <input type="text"
                           placeholder="Username"
                           class="form-control"
                           id="id_user_name"
                           name="user_name" required>
        <label for="id_password" class="sr-only">Password</label>
                    <input type="password" placeholder="Password" class="form-control" id="id_password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Sign in">
      </form>
</div>
{% endblock %}
